
<div class="presentation1 main-slider1">
  <div class="content1 presentation1">
    <!-- <div [@myAwesomeAnimation]='state'  class="slotholder1 presentation">
      <img class="pre-img" src="{{bkImageUrl}}" />
    </div> -->
    <div class="text visible-xs1 caption-mobile1">

      <!--<div class="mh2">De la incepator la avansat</div>-->

      <div class="mh2">{{localizationService.language.home.outsourcing}}</div>
      <div class="mh2">{{localizationService.language.home.t2}}</div>
      <div class="mh2">{{localizationService.language.home.t3}}</div>
      <div class="mh2">{{localizationService.language.home.t1}}</div>
      <div class="row1">
        {{localizationService.language.edu.level1}}
        {{localizationService.language.edu.level2}}
        {{localizationService.language.edu.level3}}

        <!--incepatori, mediu, avnsati-->
      </div>

      <div>
        <app-typo></app-typo>
      </div>
      <!-- <div class="verif">
        <ul>
          <li>
            <div class="vwdesc1">{{localizationService.language.home.t4}}</div>
          </li>
        </ul>
        <a class="vwdesc-" [routerLink]="['/survey']">{{localizationService.language.home.surveyText}}</a>
      </div> -->
    
    </div>

    <!-- <div class="cos">
      <app-show-contact-dialog></app-show-contact-dialog>
    </div> -->

  </div>
</div>
