<div class="row1">

  <div class="wpb_text_column wpb_content_element ">
    <div class="wpb_wrapper"><h3 class="section-heading"><span class="title" [innerHTML]="localizationService.language.h.services | keepHtml"></span></h3></div>
  </div>

  <div class="row">
  <div class="col-xs-12 col-sm-4 zoom courses grid-group-item">
    <div class="course clist">
      <a class="img-thumb">
        <div class="course-thumbnail course-featured-media">
          <figure><img width="360" height="270"
                       src="assets/team3.jpg"
                       class="attachment-shop_catalog size-shop_catalog wp-post-image" alt=""
                       title=""
                       sizes="(max-width: 360px) 100vw, 360px"></figure>
        </div>
      </a>
      <div class="course_space vscroll">
        <h3><a
          class="woocommerce-LoopProduct-link">{{localizationService.language.what.soft_dev}}</a></h3>

        <div [innerHTML]="localizationService.language.h.dev | keepHtml">


        </div>

      </div>

    </div>
  </div>

  <div class="col-xs-12 col-sm-4 zoom courses grid-group-item">
    <div class="course clist">
      <a class="img-thumb non">
        <div class="course-thumbnail course-featured-media">
          <figure><img width="360" height="270"
                       src="assets/team1.jpg"
                       class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="" title=""
                       sizes="(max-width: 360px) 100vw, 360px"></figure>
        </div>
      </a>
      <div class="course_space vscroll">
        <h3><a
          class="woocommerce-LoopProduct-link">{{localizationService.language.menu.education}}</a></h3>

        <div [innerHTML]="localizationService.language.h.training | keepHtml">


        </div>
      </div>

    </div>
  </div>

  <div class="col-xs-12 col-sm-4 zoom courses grid-group-item">
    <div class="course clist">
      <a class="img-thumb">
        <div class="course-thumbnail course-featured-media">
          <figure><img width="360" height="270"
                       src="assets/business-consulting.jpg"
                       class="attachment-shop_catalog size-shop_catalog wp-post-image" alt=""
                       title=""
                       sizes="(max-width: 360px) 100vw, 360px"></figure>
        </div>
      </a>
      <div class="course_space vscroll">
        <h3><a
          class="woocommerce-LoopProduct-link">{{localizationService.language.what.build_teams}}
        </a>
        </h3>
        <div class="" [innerHTML]="localizationService.language.h.team | keepHtml">


        </div>
      </div>
    </div>


  </div>

    </div>
  <div class="wpb_text_column wpb_content_element ">
    <div class="wpb_wrapper"><h3 class="section-heading"><span class="title" [innerHTML]="localizationService.language.h.tech | keepHtml"></span></h3></div>
  </div>

  <div class="ofers">
    <div class="item">
      <!--<div class="block-img">-->
        <!--<div class="icon-bus-2">-->
          <!--<img src="images/slider/ang5.png" alt="icon-bus-2" height="90" width="74">-->
        <!--</div>-->
      <!--</div>-->
      <div class="item-content">
        <h3>Angular</h3>
        <div class="" [innerHTML]="localizationService.language.h.angular | keepHtml"></div>
      </div>
    </div>
    <div class="item">
      <!--<div class="block-img">-->
        <!--<div class="icon-bus-2">-->
          <!--<img src="images/slider/react.png" alt="icon-bus-2" height="90" width="74">-->
        <!--</div>-->
      <!--</div>-->
      <div class="item-content">
        <h3>React</h3>
        <div class="" [innerHTML]="localizationService.language.h.react | keepHtml"></div>
      </div>
    </div>
    <div class="item">
      <!--<div class="block-img">-->
        <!--<div class="icon-bus-2">-->
          <!--<img src="images/slider/dotnet.png" alt="icon-bus-2" height="90" width="74">-->
        <!--</div>-->
      <!--</div>-->
      <div class="item-content">
        <h3>.Net</h3>
        <div class="" [innerHTML]="localizationService.language.h.net | keepHtml"></div>
      </div>
    </div>
    <div class="item">
      <!--<div class="block-img">-->
        <!--<div class="icon-bus-2">-->
          <!--<img src="img/svg/icon-bus-2.svg" alt="icon-bus-2" height="90" width="74">-->
        <!--</div>-->
      <!--</div>-->
      <div class="item-content">
        <h3>Back-end</h3>
        <div class="" [innerHTML]="localizationService.language.h.backend | keepHtml"></div>
      </div>
    </div>
    <div class="item">
      <!--<div class="block-img">-->
        <!--<div class="icon-bus-2">-->
          <!--<img src="images/slider/mobile.png" alt="icon-bus-2" height="90" width="74">-->
        <!--</div>-->
      <!--</div>-->
      <div class="item-content">
        <h3>Mobile</h3>
        <div class="" [innerHTML]="localizationService.language.h.mobile | keepHtml"></div>
      </div>
    </div>
    <div class="item">
      <!--<div class="block-img">-->
        <!--<div class="icon-bus-2">-->
          <!--<img src="images/slider/docker.png" alt="icon-bus-2" height="90" width="74">-->
        <!--</div>-->
      <!--</div>-->
      <div class="item-content">
        <h3>Devops</h3>
        <div class="" [innerHTML]="localizationService.language.h.devops | keepHtml"></div>
      </div>
    </div>
  </div>



