<div class="container1">


<!--style="visibility: hidden"-->

<div class="row" style="visibility: hidden">
  <div class="col-md-12">
    <div class="about-box firstItem active equalheight" style="height: 280px;">
      <div class="round-icon-wrapper">
        <span class="icon-users2"></span>
      </div>
      <h3>
        <a href="team.html">Team</a>
      </h3>
      <!--<p class="regular-text">Lorem ipsum dolor sit amet, consect etuer adipi scing elit, sed diam nonum my nibh euismod tincidunt.</p>-->
    </div>
  </div>
  <!---->
</div>
