<div class="container">

  <div class="title center">
    <span> Despre</span>
  </div>
  <!--<iframe width="100%" height="300" src="//jsfiddle.net/afjs2467/51/embedded/" allowpaymentrequest allowfullscreen="allowfullscreen" frameborder="0"></iframe>-->
  <div class="row center mb20">
    <i>Incepem seria nr. 2 de cursuri. ( dupa sarbatorile de paste si o sa se inscrie cam 10 persoane ) </i>
  </div>

  <div class="row padding-bottom">
    <div class="col-md-10 col-md-offset-1">

      <div class="row1">
        Obiectivul cu care pornim este de a indruma cursantul sa fie capabil sa faca un site de la zero.

        Cursurile dureaza 6 luni (2-3h/saptamana).

        Sprijinul nostru continua si dupa terminarea cursurilor prin imbunatatiri aduse la aplicatia construita,
        exercitii noi, noi metodologii, sprijin inainte si dupa angajare.
      </div>
      <!--<app-news [newsObject]="newsObject" [canEditNews]="canEditNews"></app-news>-->

      <br/>
      <div class="row1">Se recomanda:</div>

      <ul>
        <li>Intreaba un prieten programator despre structura acestor cursuri  </li>
        <li>Daca nu stii ce parte din IT ti s-ar potrivii, ne putem intalnii pentru a discuta despre acest lucru</li>
        <li>Invatarea programarii necesita cam 1 ora de munca zilnica. Daca timpul este un impediment, asteapta o perioada mai lejera </li>
        <li>A se constientiza ca un expert nu se formeaza in perioada de invatare (6 luni) si ca aceste cursuri acopera tot ceea ce este necesar unui programator junior/mediu.
          <!--Un scop real, ar fi ca dupa perminarea cursurilor, nivelul de cunostiinte  -->
        </li>
        <li></li>
        <li></li>

        </ul>

      <div class="row">

        <div class="event">
          <span>#</span>
          <div class="info">
            Pret <br/>
            lunar
          </div>
          <div class="price">
            750 RON
          </div>
        </div>

        <div class="event">
          <span>#</span>
          <div class="info">
            Pret <br/>
            Total
          </div>
          <div class="price">
            4500 RON
          </div>
        </div>

      </div>

      <div class="col-md-auto padkova text-align=center">
        <p>
          <b>Primul curs este gratuit!</b>
          <br/>
          Se vor prezenta metodele de lucru, tehnologiile, necesitatea invatarii
          acestora
          <br/>
          Plata se poate face lunar
        </p>

      </div>

      <div class="col-md-auto padkova text-align=center">
        <h3>Date firma</h3>
        <div class="row">
          <div class="col-md-3 textr1"><b>Denumire firma:</b></div>
          <div class="col-md-9"> BESTSOFTDEVELOPER SRL</div>
        </div>
        <div class="row">
          <div class="col-md-3 textr1"><b>CUI:</b></div>
          <div class="col-md-9">38444752</div>
        </div>

        <div class="row">
          <div class="col-md-3 textr1"><b>Nr Registrul Comerțului:</b></div>
          <div class="col-md-9">J12/6298/2017</div>
        </div>

        <div class="row">
          <div class="col-md-3 textr1"><b>IBAN:</b></div>
          <div class="col-md-9">RO23BTRLRONCRT0421756601</div>
        </div>
        <div class="row">
        </div>


      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
