<hr class="dark-line">
<div id="footer">
  <div class="container">
    <div class="row">
      <!-- Copyright -->
      <div class="col-md-4 text-center">
        <p>Copyright 2018 © fullsd.com</p>
      </div>
      <!-- Footer Social Icons -->
      <div class="col-md-4 text-center">
        <a href="https://www.facebook.com/it.bestdeveloper/" target="_blank">
          <i class="fa fa-facebook fa-lg"></i>
        </a>
        <!-- <a href="https://www.instagram.com/4coworkcluj/?hl=en" target="_blank">
            <i class="fa fa-instagram fa-lg"></i>
        </a> -->
      </div>
      <!-- Up Button -->
      <div class="col-md-4 back-to-top">
        <a href="#">
          <i class="fa fa-angle-up fa-2x pull-right"></i>
        </a>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
