<div class="container ">
  <div class="col-xs-12 center">
    <h1>{{localizationService.language.resetPass}}</h1>
    <hr/>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <form #resetPasswordForm="ngForm" (ngSubmit)="submitForm()" novalidate>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text"
               class="form-control"
               placeholder="Email" autofocus required
               name="email"
               id="email"
               [(ngModel)]="ui.email"
               maxlength="50"
        >
        <div class="row col-md-12 error">
          <!--{{ currentForm.form.controls.firstName.errors | json}}-->
          <div class="form-control-feedback1"  *ngIf="currentForm && currentForm.form.controls.email && currentForm.form.controls.email.errors &&
              (currentForm.form.controls.email.dirty)">

            <p *ngIf="currentForm.form.controls.email.errors.required">Introduceti email-ul</p>
            <p *ngIf="currentForm.form.controls.email.errors.maxLength">Lungimea numelui este prea mare</p>
          </div>
        </div>
        </div>
      <button type="submit" class="mat-raised-button mat-primary bg-blue btn-block" ng-click="vm.resetPassword()">{{localizationService.language.resetPass}}</button>
      <span class="has-error error">{{uiMessage}}</span>
    </form>
  </div>
</div>
