header{
  background: #f5f6f7;
  border-top: 1px solid #ddd;
  margin-bottom: 0;
  /*background-color: #fcfcfc;*/
}

.lang{
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}

.navli select{
  border:0px;
  outline:0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.navli select::-ms-expand {
  display: none;
}

.ulcust
{
  padding: 0px;
}
.topheader
{
  background-color: #1C1F8F;
}
.navbar-brand1 {
  float: left;
  height: 50px;
  /*padding: 15px 15px;*/
  /*font-size: 18px;*/
  /*line-height: 20px;*/
}
.ficon
{
  /*margin-left: 14px;*/
  margin-right: 2px;
}

.cp{
  cursor: pointer;
}

ul.nob{
  list-style-type: none;
}
/*#1C1F8F;*/

.navli:hover .ficon
{
  color: #FAAF18;
  background-color: #d82a2a;
}

.header-wrapper1
{
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 5px 6px -5px #111;
}

.navbar-nav>li>a.active {
  background: none;
  border-bottom: 2px solid #90c404;
  /*#1C1F8F*/
}

li .dropdown
{
  padding-left: 15px;
  padding-top: 15px;
}
