<div class="title center row">
  <div class="wpb_wrapper"><h3 class="section-heading"><span class="title">{{localizationService.language.who.who}}</span></h3></div>
</div>

<div class="row who">
  <div class="col-md-6">
    <div class="row item">
      <p class="title center">{{localizationService.language.who.n1}}</p>
      <p class="center">{{localizationService.language.who.n1Desc}}</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row item">

      <p class="title center">{{localizationService.language.who.n2}}</p>
      <p class="center">{{localizationService.language.who.n2Desc}}</p>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row item">
      <p class="title center">{{localizationService.language.who.echipa}}</p>
      <p class="center">{{localizationService.language.who.echipaDesc}}
      </p>
    </div>
  </div>

</div>
