<!--{{localizationService.language.home.typoText}}-->
<span class="element mhTypo"></span>
<div id="typed-strings">
  <!---->
  <p *ngFor="let hero of localizationService.language.home.typoText" [innerHTML]="hero | keepHtml"></p>
  <!--<p>Limbajul principal este  <strong>JavaScript</strong>.</p>-->
  <!--<p>Se va invata <strong>javascript</strong></p>-->
  <!--<p>Se va invata <strong>algoritmica</strong></p>-->
  <!--<p>Se va invata <strong>creare server </strong></p>-->
  <!--<p>Se va invata <strong>front-end </strong></p>-->
  <!--<p>Se va invata <strong>testare</strong></p>-->
  <!--<p>Se va invata <strong>deployment</strong></p>-->
  <!--<p>Se va invata <strong>aplicatii pentru telefoane </strong></p>-->

  <!--<p>Ajutor la gasirea unui loc de munca</p>-->
  <!--<p>Sprijin dupa terminarea cursurilor</p>-->
  <!--<p>My strings are: Chars &times; &copy;</p>-->

  <span class="typed-cursor">|</span>
</div>
<!--<span id="typed"></span>-->

